* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'MedievalSharp', cursive;
    font-family: 'Salsa', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Mali', cursive;
}

h1.mix {
    border-style: dashed;
    border-color: lightcoral;
    border-width: thick;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 25px dotted #BE93C5;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 45px;
}
header p {
  font-size: 26px;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}
.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}
.pad1 {
    background: #8A2387;
}
.pad2 {
    background: #E94057;
}
.pad3 {
    background: #F27121;
}
.pad4 {
    background: #12c2e9;
}
.pad5 {
    background: #c471ed;
}
.pad6 {
    background: #BB377D;
}

.visual > div {
  position: absolute;
  bottom: 10%;
  height: 50px;
  width: 50px;
  border-radius: 70%;
  transform: scale(1);
  z-index: -1;
}

@keyframes jump {
  10% {
    bottom: 10%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }

  90% {
    bottom: 10%;
    left: 80%;
  }
}
